.header{
    width: 100%;
    height: 110px;

    border-bottom: 4px solid rgb(242, 14, 14);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.gallery_wrapper{
    margin: 0 auto;
    padding: 28px 0;
    max-width: 1800px;

    box-sizing: border-box;

    width: 100%;
    height: 100vh;

    overflow-y: auto;
    /* overflow-x: hidden; */

    border: none;
}

.gallery_wrapper::-webkit-scrollbar {
    width: 0px;
}

.gallery_grid{
    columns: 18rem;
    gap: 1rem;
    counter-reset: grid;

    width: 100%;

    margin: 0;
    padding: 0;
}

.gallery_item{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    overflow: hidden;

    transition: all .2s ease-in-out;

    border-radius: 20px;

    padding: 10px;
}

.gallery_item:hover{
    background-color: rgba(0, 0, 0, 0.045);
}

.gallery_item > .gallery_item__image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* margin-bottom: 0.5rem; */

    border-radius: 20px;
}

.gallery_item:nth-child(3n + 1) > .gallery_item__image{
    height: 480px;
}

.gallery_item:nth-child(3n + 2) > .gallery_item__image{
    height: 240px;
}

.gallery_item:nth-child(3n + 3) > .gallery_item__image{
    height: 320px;
}

.gallery_item:nth-child(3n + 4) > .gallery_item__image{
    height: 360px;
}

.gallery_item:nth-child(3n + 5) > .gallery_item__image{
    height: 420px;
}

.gallery_item > .gallery_item__name{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    color: black;

    margin: 0;
    padding: 0;

    padding-left: 1.75rem;
    margin-bottom: 1.5rem;

    text-transform: capitalize;
} 








/* POPUP */

.popup_wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(79, 79, 79, 0.4);
}


.popup_wrapper > .popup_body{
    width: fit-content;
    height: 490px;

    background-color: white;

    margin: 0 auto;

    border-radius: 20px;

    position: relative;

    padding: 20px;
    box-sizing: border-box;

    display: flex;
}

.closePopup{
    position: absolute;
    right: 20px;
    top: 20px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    width: 40px;
    height: 40px;

    background-image: url('https://img.icons8.com/ios/50/delete-sign--v1.png');
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 999;
}

.imageInfo{
    padding: 20px;
    box-sizing: border-box;

    position: relative;
}

.imageInfo > h1{
    font-family: sans-serif;

    font-size: 32px;
    font-weight: 500;

    margin-bottom: 10px;

    text-align: center;
}

.popup_body > img{
    border-radius: 20px;
    width: 600px;
    height: 100%;
}

.pictureLocation{
    font-family: sans-serif;
    line-height: 22px;
    font-size: 24px;
    font-weight: 400;

    background-image: url('https://img.icons8.com/?size=100&id=43777&format=png&color=000000');
    background-repeat: no-repeat;
    background-position: -5px;

    background-size: 30px;

    margin-top: 15px 0 0 0;

    padding-left: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.pictureLocation > span {
    font-size: 16px;
}

.imageInfo > p{
    font-family: sans-serif;
    font-size: 14px;

    width: 240px;

    margin-top: 50px;

    max-height: 150px;
    overflow-y: auto;
}

.redLine{
    width: 100%;
    height: 4px;

    background-color: rgb(242, 14, 14);
}

.createdWrapper{
    display: flex;
    align-items: center;
    gap: 30px;

    position: absolute;
    bottom: 0;

    height: fit-content;
}

.createdWrapper > h3{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: rgb(153, 153, 153);

    text-align: left;
}

.btnContainer{
    display: flex;
    gap: 10px;
}

.btnContainer > button{
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.nextBtn{
    background-image: url('https://img.icons8.com/?size=100&id=p1BDpjEY201H&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: cover;
}

.prevBtn{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAl0lEQVR4nOWSQQqCUBRFz0pMkdyYg5bVuJbTrEEqVEvIidiL4BshaZbvQtCBOz2H9/nwLyTABshV8gow4OItj4AiyLtJ5aaWm5f8MCC3ufIYKEfkNnENsO7LF05yC2s/eRb7cg92Ark9B/bqwBI4KQN3MuDsKL/ygszxki0DvHsuF8YiqCN4R47KQP+SGhFp+BUrVeB3uQGc9dasA2Vy0AAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: cover;
}